/***** Import fonts******/
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

/***** Applying border-box for better sizing******/
*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/***** Global Attributes******/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 16px;
    background-image: url(resources/background-yu-gi-oh-Sogen.jpg);
    background-attachment: fixed;
    background-position-y: -5rem;
    background-size: cover;
}

/***** Container ******/
.container {
    height: 100vh;
}

.game {
    height: 97%;

}

.section-1 {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25%;
}

.section-2 {
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    gap: 15%;
}

.section-2> :first-child {
    display: flex;
    gap: 4rem;
}



/***** Display******/
.rounds span {
    font-size: 3rem;
}

.score span {
    font-size: 3rem;
}

.game-options {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.game-options img {
    width: 11%;
    border: none;
    border-radius: 20%;
    transition: padding 0.2s ease-in-out;
}

/***** Animations *****/
.game-options img:hover {
    box-shadow: 0 0 0 0.25rem rgb(150, 255, 109);
    border-radius: 20%;
    padding: 0.75rem;
    cursor: pointer;
}


/***** Artist Credit ******/
.artist-credit {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    color: rgb(47, 255, 0);
}

.artist-credit:hover {
    color: rgb(0, 255, 166);
}